@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="css/ChatModal.css" type="text/css" />
</head>

<div class="text-center">
    <h2 class="display-4">Welcome to our pub!</h2>
</div>

@*<button onclick="window.location.href = '@Url.Page("PrivateTable/@Model.Id")'">Generate private table</button>*@
<a asp-page="/PublicTable/@Model.Id" class="btn btn-primary"> Create Private table</a>
@foreach (var game in Model.Games)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@game.name</h5>
            <h6>Min Players: @game.minPlayers</h6>
            <h6>Max Players: @game.maxPlayers</h6>
            <p class="card-text">beskrivning om spelet placeholder</p>
            
            @{
            var selectedGameId = new Dictionary<string, string>
                        {
                            { "id", game.id.ToString() }
                        };
            }

            @* <a href="@Url.Page("PublicTable")" class="btn btn-primary">Go To Public Table</a> *@
            <a asp-page="/PublicTable" asp-all-route-data="selectedGameId" class="btn btn-primary">Go To Public Game</a>
        </div>
    </div>
}

<script type="text/javascript">var Group = "lobby"</script>

<partial name="_ChatModalPartial" />