@page
@model PublicTableGameModel
@{
}

<head>
    <link rel="stylesheet" href="css/ChatModal.css" type="text/css" />
</head>

<h1>@Model.Table.game.name</h1>

<p>
    <a href="@Model.Table.game.link" target="blank">@Model.Table.game.link</a>
</p>



@* <a href="@Model.Game.link" class="btn btn-primary">Go To Game</a> *@

@if (Model.Game.maxPlayers > 0)
{
    
<script src="~/js/ToggleButton.js"></script>
}
<script src="~/js/goToGame.js"></script>

<script type="text/javascript">var Group ="@Model.Table.id"</script>

<partial name="_ChatModalPartial" />

<iframe id="inlineFrameExample" title="Inline Frame Example" width="700px" height="700px"
        src="@Model.Table.game.link"
    </iframe>