@page
@model PublicTableGameModel
@{
}

<head>
    <link rel="stylesheet" href="css/ChatModal.css" type="text/css" />
    <link rel="stylesheet" href="css/privateTable.css" type="text/css" />
    <script type="text/javascript">
        var Group = "@Model.Id.ToString()";
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="~/css/privategameback.css">
</head>

<h1>@Model.Table.game.name</h1>

 <a href="@Model.Table.game.link" class="btn btn-warning" style="color:black">Go To Game</a>

<div class="Scoreboard">

    <div id="UserListPartial">
    </div>
</div>

<script type="text/javascript">var Group ="@Model.Table.id"</script>

<partial name="_ChatModalPartial" />

<script src="~/js/privateTable.js"></script>
<iframe id="inlineFrameExample" title="Inline Frame Example" width="700px" height="700px"
        src="@Model.Table.game.link"
    </iframe>
